// Backgroud palette
$background: #2F2D46;
$background80: #3f3c5e;
$background60: #49456e;

// Primary palette
$primary: #5046CF;
$primaryLight: #8670FF;
$primaryDark: #001B9C;

//Secondary palette
$secondary: #CFB944;

//ButtonGreen
$buttonGreen: #34C780;


@import "header";
@import "body";

