// Backgroud palette
$background: #2F2D46;
$background80: #4D4E53;
$background60: #4E5055;

// Primary palette
$primary: #5046CF;
$primaryLight: #8670FF;
$primaryDark: #001B9C;

//Secundary palette
$secundary: #CFB944;

//ButtonGreen
$buttonGreen: #34C780;



@import "header";
@import "body";

