div.two-cols {
    &>div.img-box {
        width: 40%;

        &>.piggy-img {
            font-size: 10em;
            background-image: url("./images/piggybank.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left;
            margin: 10%;
            text-indent: -999999em;
        }
    }

    &>div.details {
        width: 60%;
    }
}

.addOnCreate-moneybox {
    padding: 1em 1em;
    border-radius: 32px;
    box-sizing: border-box;
    color: white;
    background-color: #857fbb;
    border: none;
    text-align: center;
}

.box-contribute {
    text-align: center;
}