div.two-cols {
    &>div.img-box {
        width: 40%;
        text-align: center;
    }

    &>div.details {
        width: 60%;
    }
}

.usdt_ftm {
    display: inline-grid;
}

.addOnCreate-moneybox {
    padding: 1em 1em;
    border-radius: 32px;
    box-sizing: border-box;
    color: white;
    background-color: #857fbb;
    border: none;
    text-align: center;
}

.box-contribute {
    text-align: center;
}

.err_p {
    color: $error;
    text-align: center;
}

.err_input {
    border: 2px solid $error;
}

.conversion{
    padding-left: 13em;
}