div.two-cols {
    &>div.img-box {
        width: 40%;
    }

    &>div.details {
        width: 60%;
    }
}

.addOnCreate-moneybox {
    padding: 1em 1em;
    border-radius: 32px;
    box-sizing: border-box;
    color: white;
    background-color: #857fbb;
    border: none;
    text-align: center;
}

.box-contribute {
    text-align: center;
}