.piggyStyle-1{
    fill: #FF507D;
}

.piggyStyle-2{
    fill: #FF6991;;
}

.piggyStyle-3{
    fill: #FF507D;
}

.piggyStyle-4{
    fill: #FFDC64;
}

.piggyStyle-5{
    fill: #FF507D;
}

.piggyStyle-circle{
    fill: #FFC850;
}

.bigPiggy{
    height: 60%;
    margin: 3em auto;
    width: 60%;
    display: block;
}

#piggyFill > svg{
    fill: black;
}