div.page-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: auto;
    margin-left: 300px;
    margin-top: 5%;

    &.column {
        flex-direction: column;
    }

    & > .redirect{
        text-align: center;
    }
}


#side-menu {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    width: 300px;
    //height: 120vh;
    height: 100%;
    z-index: 10;
    background-color: $background80;
    float: left;
    height: calc(100% - 76px);
    position: fixed;
    padding-top: 20px;
    bottom: 0;
    overflow-x: hidden; /* Disable horizontal scroll */

    & svg {
        fill: white;
        margin-right: 10px;
    }

    & > ul > li {
        list-style: none;
    }

    & > ul {
        padding-left: 0;
    }

    & a.home-button:hover {
        background-color: $primaryLight;
    }

    & .active {
        background-color: $background60;
        cursor: default;
    }

    & a.active:hover{
        background-color: $background60;
    }
}


@media only screen and (max-width: 1300px) {

    div.page-container {
        flex-direction: column;
    }

    div.left-col {
        width: 100%;
    }

    div.right-col {
        width: 100%;
    }
}