
table#table-payments {
    width: 100%;
    margin: 2em 0;
    text-align: center;

    & > thead > tr > th {
        background-color: $background60;
        padding: 1em 2em;
    }

    & > tbody > tr > td {
        padding: 1em 0;
        background-color: $background80;
    }
}