.transaction-card {
    list-style: none;
    width: 70%;
    padding: 0;
    margin: auto;

    & > li {
        background-image: linear-gradient(to bottom right, $primary, $primaryLight);
        padding: 1em 1.5em;
        margin-bottom: 1.5em;
        border-radius: 32px;

        & > div {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            justify-content: space-between;
            width: 100%;

            & a.btn-linkto {
                background-color: #d27373;
                padding: 0.8em;
                border-radius: 32px;
                padding: 0.8;
                padding-top: 1.2em;

                &:hover {
                    background-color: #a85353;
                }
            }

            & > div > button {
                margin: 0.1em;
                cursor: pointer;

                &.btn-paid {
                    
                    &.success {
                        background-color: $buttonGreen;
                    }

                    &:hover.success{
                        background-color: $successDark;
                    }
                }

                &.btn-unlock {
                    &.error {
                        background-color: $warning;

                        &:hover {
                            background-color: #b48837;
                        }
                    }

                    &.success {
                        background-color: $success;
                    }
                }
            }

            & > span.transaction-id {
                color: rgb(226, 226, 226);
            }

            & > div.info-box {
                display: flex;
                flex-direction: column;

                & > span.transaction-label {
                    font-size: 1.2em;
                    color: white;
                    margin: 0.4em 0;
                }

                & > span.transaction-amount {
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}