.transaction-card {
    list-style: none;
    width: 70%;
    padding: 0;
    margin: auto;

    & > li {
        background-image: linear-gradient(to bottom right, $primary, $primaryLight);
        padding: 1em 1.5em;
        margin-bottom: 1.5em;
        border-radius: 32px;

        & > div {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            justify-content: space-between;
            width: 100%;

            & > div > button {
                margin: 0.1em;

                &.btn-paid {
                    background-color: $buttonGreen;
                    cursor: pointer;
                }

                &.btn-paid:hover{
                    background-color: #81e7b6
                }

                &.btn-unlock {
                    background-color: orange;
                    cursor: pointer;
                }

                &.btn-unlock:hover {
                    background-color: rgb(245, 190, 89);
                }
            }

            & > span.transaction-id {
                color: rgb(226, 226, 226);
            }

            & > div.info-box {
                display: flex;
                flex-direction: column;

                & > span.transaction-label {
                    font-size: 1.2em;
                    color: white;
                    margin: 0.4em 0;
                }

                & > span.transaction-amount {
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}