// Backgroud palette
$background: #2F2D46;
$background80: #3f3c5e;
$background60: #857fbb;

// Primary palette
$primary: #5046CF;
$primaryLight: #8670FF;
$primaryDark: #001B9C;

//Secondary palette
$secondary: #CFB944;


$success: #34C780;
$successDark: #48a478;
$warning: #CFB944;
$warningDark: #b6a441;
$error: #ec3b3b;
$errorDark: #ec3b3b;

body {
    color: white;
}

@import './layout/';

@import './components/';

@import './sections/';